<h2>バンド一覧</h2>


<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>バンド名</th>
				<th>作成日時</th>
		    </tr>
	    </thead>
	    <tbody>
	       <% @bands.each do |bands| %>
			 	<tr>
			 		<td>
			 			<%= link_to bands.name, public_band_path(bands) %>
			 		</td>
			 		<td>
			 			<%= bands.created_at %>
			 		</td>
			 	</tr>
		  <% end %>
	    </tbody>
	 </table>
</div>
<%= paginate @bands %>