<h1>
	<%= @band.name %>さんの音楽
</h1>

<div class="row">
	<table class="table">
		<thead>
			<tr>
				<th>曲名</th>
				<th>作成日時</th>
		    </tr>
	    </thead>
	    <tbody>
	       <% @band.musics.each do |music| %>
			 	<tr>
			 		<td> 
			 			<%= link_to music.name, public_music_path(music) %>
			 		</td>
			 		<td>
			 			<%= music.created_at %>
			 		</td>
			 	</tr>
		  <% end %>
	    </tbody>
	 </table>
</div>