/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  
@import "bootstrap"; 

h1 {
  color: #364e96;
  border: solid 3px;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 280px;
  margin-left: 120px;
}

h2 {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  width: 180px;
}

.box1-ext {
    border: 10px solid black;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
  
.navbar-nav {
  margin-right: 90px;
}  
