.col-lg-8 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border: 5px solid yellow;
} 

.box1 {
	width: 50%;
    height: 50px;
    padding: 5px;
}

.wrap{
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.clearfix:after{
  content:"";
  clear: both;
  display: block;
}

#tab-menu li {
  float: left;
  list-style-type: none;
  width: 25%;
}

#tab-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents .tabs {
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p{
  color:#000;
  line-height: 2.5;
}

#footer{
	width: 100%; 
  height: 100px; 
  background-color: orange; 
  position: fixed;
  bottom: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.btn{
  float: right;
  margin-bottom: 100px;
}

.btn-square-soft {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #f9a9ae;
  width: 120px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  left: 50%;
}

.btn-square-soft:active {
  /*押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);/*グラデーションを明るく*/
}

.table top{
  width: 100%;
}